*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  min-height:100vh;
  background:linear-gradient(135deg,#00c6ff,#0072ff);
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.container{
  width:100%;
  max-width:1100px;
  background:white;
  border-radius:25px;
  padding:40px;
  box-shadow:0 30px 60px rgba(0,0,0,0.2);
}

h1{
  text-align:center;
  margin-bottom:30px;
  color:#0072ff;
}