body{
background:black;
color:#00ff88;
font-family:monospace;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.terminal{
width:650px;
background:#111;
border-radius:8px;
padding:20px;
box-shadow:0 0 15px #00ff88;
}

.header{
margin-bottom:15px;
font-weight:bold;
}

#output{
min-height:200px;
margin-bottom:10px;
}

.line{
margin:5px 0;
cursor:pointer;
}

.line:hover{
color:#00ffaa;
}

.input-line{
display:flex;
gap:8px;
}

input{
flex:1;
background:black;
border:none;
color:#00ff88;
font-family:monospace;
outline:none;
}