body{
font-family:Arial;
background:#111827;
color:white;
text-align:center;
}

h1{
margin-top:20px;
}

.game-box{
width:420px;
margin:auto;
padding:25px;
background:#1f2937;
border-radius:10px;
}

.word-card{
font-size:40px;
background:#374151;
padding:20px;
border-radius:10px;
margin:20px 0;
}

.options{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.options button{
padding:12px;
font-size:16px;
border:none;
border-radius:6px;
cursor:pointer;
background:#2563eb;
color:white;
}

.options button:hover{
background:#1d4ed8;
}

.info{
display:flex;
justify-content:space-between;
margin-top:15px;
font-size:18px;
}

#start{
margin-top:20px;
padding:10px 20px;
background:#22c55e;
border:none;
border-radius:6px;
cursor:pointer;
}