body {
    margin: 0;
    font-family: Segoe UI;
    background: #0f172a;
    color: #38bdf8;
}

h1 {
    text-align: center;
    padding: 10px;
}

.toolbar {
    text-align: center;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    background: transparent;
    border: 2px solid #38bdf8;
    color: #38bdf8;
    cursor: pointer;
}

button:hover {
    background: #38bdf8;
    color: black;
}

.layout {
    display: flex;
    height: 80vh;
}

.left-panel {
    width: 30%;
    padding: 10px;
    border-right: 1px solid #334155;
}

.right-panel {
    width: 70%;
    padding: 10px;
    overflow-y: auto;
}

#highlightOverlay {
    position: absolute;
    border: 2px solid red;
    pointer-events: none;
    display: none;
    z-index: 9999;
}

input {
    width: 120px;
    margin-left: 5px;
    background: #1e293b;
    color: white;
    border: 1px solid #334155;
}

canvas {
    background: #1e293b;
    border: 1px solid #334155;
}