body{
margin:0;
background:#0f172a;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.studio{
text-align:center;
background:#1e293b;
padding:25px;
border-radius:12px;
box-shadow:0 0 20px #00f5ff;
}

.controls{
margin-bottom:15px;
}

button,select,input{
margin:5px;
padding:8px;
border:none;
border-radius:5px;
cursor:pointer;
}

#board{
display:grid;
margin:auto;
width:420px;
height:420px;
background:#020617;
border:4px solid #00f5ff;
}

.pixel{
background:#020617;
border:1px solid #111;
}

.pixel:hover{
outline:1px solid #00f5ff;
}