body {
    font-family: Arial;
    text-align: center;
    background: linear-gradient(135deg,#1f1c2c,#928dab);
    color: white;
    margin: 0;
    padding: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.section {
    display: none;
    margin-top: 20px;
}

#reactionBox {
    width: 200px;
    height: 200px;
    background: red;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
