body{
margin:0;
background:#1c1c1c;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.game{
text-align:center;
}

#belt{
width:500px;
height:100px;
background:#333;
border-radius:10px;
margin:30px auto;
position:relative;
overflow:hidden;
}

.shape{
position:absolute;
font-size:40px;
top:30px;
left:0;
transition:left 0.1s linear;
}

.machines button{
padding:10px 15px;
margin:5px;
border:none;
background:#f9c74f;
border-radius:6px;
cursor:pointer;
}

#start{
margin-top:15px;
padding:10px 20px;
background:#43aa8b;
border:none;
border-radius:6px;
cursor:pointer;
}