body{
margin:0;
background:#020b18;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.dashboard{
text-align:center;
background:#071d36;
padding:30px;
border-radius:15px;
box-shadow:0 0 20px #00d9ff;
}

h1{
color:#00d9ff;
}

.stats{
margin:15px 0;
font-size:18px;
}

.panel{
background:#02101f;
padding:20px;
border-radius:10px;
margin:20px 0;
}

#puzzle{
font-size:22px;
margin-bottom:15px;
}

input{
padding:10px;
border:none;
border-radius:6px;
width:150px;
}

button{
padding:10px 15px;
border:none;
border-radius:6px;
background:#00d9ff;
cursor:pointer;
}